body {
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, sans-serif;
	background: url('../images/back.gif');
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
}

a {
	text-decoration: none;
	color: black;
}

ul {
	list-style: none;
	padding: 0;
}

/* ハンバーガーメニュー非表示 */
#menu { display:flex; }
.slicknav_menu { display:none; }

.wrapper {
	background: white;
}

.header-functions {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 30px;
}

.header-functions nav ul {
	display: flex;
	gap: 32px;
}

.header-key-visual {
	height: 200px;
	background: url('../images/header-image.jpg');
	font-size: 20px;
	/* 縦横中央 */
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-key-visual p {
	color: white;
	background: rgba(0, 0, 0, 0.5);
}

.section-1st {
	margin-top: 20px;
	margin-left: 30px;
	margin-right: 30px;
}

.section-1st h2 {
	margin-bottom: 10px;
}

.section-1st ul {
	margin-top: 20px;
	display: flex;
	gap: 30px;
}

.section-1st ul li {
	width: 100%;
		/*
		width:100% はフレックスコンテナの全幅を指しているが、実際は格納可能な最大値として解釈される
		（ここでは３つのアイテムを格納するので、アイテムひとつ分の幅は widht:33% として解釈される）
		
		(高度な話題) フレックスアイテムの幅の扱いについてはこの記事が詳しい。
		width:33% として解釈されるのにはflex-shrinkが関わっていることも分かるだろう。
		https://developer.mozilla.org/ja/docs/Web/CSS/CSS_Flexible_Box_Layout/Controlling_Ratios_of_Flex_Items_Along_the_Main_Ax
		*/
}

.section-1st li section {
	/* reset.css側でimgに対しdisplay:block; が指定されているため、画像の中央寄せは text-align: center ではできないことに注意 */
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.section-1st li section .card {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.section-1st li h3 {
	width: 100%;
	border-bottom: 2px solid #1a401a;
	background: url('../images/mark.png') no-repeat;	/* マーカーを背景画像として配置することにより、マーカーの幅がテキストの中央寄せに干渉することがなくなる */
	text-align: center;
}

.section-1st li img {
	border-radius: 50%;
}

.section-1st li section .card .description {
	display: flex;
	gap: 10px;
	flex-direction: column;
}

.section-2nd {
	margin: 40px 30px 50px;
}

.section-2nd ul {
	margin-top: 20px;
	display: flex;
	gap: 20px;
}

.section-2nd ul li {
	width: 100%;
}

.section-2nd .container-flex {
	display: flex;
	gap: 10px;
}

.section-2nd li section {
	border-top: 2px solid #ccc;
}

.section-2nd li section img {
	width: 300px;
}

.section-2nd li h3 {
	margin-bottom: 10px;
}

footer {
	background: #1a401a;
	height: 120px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (max-width: 1000px) {

	/* ハンバーガーメニュー表示 */
	#menu { display:none; }
	.slicknav_menu { display:block; }

	.header-functions nav ul {
		flex-direction: column;
		gap: 8px;
	}

	/* ハンバーガーメニューのスタイルをカスタマイズ
	DevTools で試行錯誤して上書きするものを確定し、ここに書いた
	*/
	.slicknav_menu {
		position:absolute;
		top: 25px;
		right: 20px;
		background: transparent !important;
	}
	.slicknav_nav {
		position:relative;
		right:0px;
		width:max-content;
		background: #4c4c4c;
	}
	/* ハンバーガーメニューのカスタマイズここまで */

	.section-1st ul {
		flex-direction: column;
		gap: 20px;
	}

	.section-1st li section {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	.section-1st li h3 {
		text-align: left;
		padding-left: 24px;
		background-position-y: 5px; 
	}

	.section-1st li section .card {
		margin-left: 20px;
		display: flex;
		gap: 20px;
		flex-direction: row;
		align-items: flex-start;
	}

	.section-2nd ul {
		flex-direction: column;
		gap: 30px;
	}

	footer {
		height: 80px;
	}
}

@media (max-width: 600px) {

	.header-key-visual p {
		width: 80%;
	}

	.section-1st li h3 {
		text-align: center;
	}

	.section-1st li section .card {
		flex-direction: column;
		align-items: center;
	}

	.section-2nd .container-flex {
		flex-direction: column;
	}

	.section-2nd .container-flex img {
		width: 100%;
		height: auto;
	}

	.section-2nd li h3 {
		margin-bottom: 20px;
	}

	footer {
		height: 80px;
	}
}
