body {
	font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, sans-serif;
	background: url('../images/back.gif');
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
}

a {
	text-decoration: none;
	color: black;
}

ul {
	list-style: none;
	padding: 0;
}

/* ハンバーガーメニュー非表示 */
#menu { display:flex; }
.slicknav_menu { display:none; }

.wrapper {
	background: white;
}

.header-functions {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 30px;
}

.header-functions nav ul {
	display: flex;
	gap: 2rem;
}

.header-key-visual {
	height: 200px;
	background: url('../images/header-image.jpg');
	font-size: 20px;
	/* 縦横中央 */
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-key-visual p {
	color: white;
	background: rgba(0, 0, 0, 0.5);
}

.section-1st {
	margin-top: 20px;
	margin-left: 30px;
	margin-right: 30px;
}

.section-1st h2 {
	margin-bottom: 10px;
}

.section-1st ul {
	margin-top: 20px;
	display: flex;
	gap: 30px;
}

.section-1st ul li {
	width: 100%;	/* TODO なぜこれで均等割になるのだろう？flexの配分について調べる */
}

.section-1st li section {
	/* MEMO 画像の中央寄せはこれではできない。reset.css側でimgに対しdisplay:block; が指定されているため。
	text-align: center;
	*/
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.section-1st li section .card {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.section-1st li h3 {
	width: 100%;
	border-bottom: 2px solid #1a401a;
	background: url('../images/mark.png') no-repeat;	/* MEMO backgroundに画像を配置することにより、テキスト中央寄せするだけで済む！これはちょっとしたテクニックだな */
	text-align: center;
}

.section-1st li img {
	border-radius: 50%;
}

.section-2nd {
	margin: 40px 30px; 50px;
}

.section-2nd h2 {
	margin-bottom: 10px;
}

.section-2nd ul {
	margin-top: 20px;
	display: flex;
	gap: 20px;
}

.section-2nd ul li {
	width: 100%;	/* TODO なぜこれで均等割になるのだろう？flexの配分について調べる */
}

.section-2nd .container-flex {
	display: flex;
	gap: 10px;
}

.section-2nd li section {
	border-top: 2px solid #ccc;
}

.section-2nd li section img {
	width: 300px;
}

.section-2nd li h3 {
	margin-bottom: 10px;
}

footer {
	background: #1a401a;
	height: 120px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (max-width: 1000px) {

	/* ハンバーガーメニュー表示 */
	#menu { display:none; }
	.slicknav_menu { display:block; }

	.header-functions nav ul {
		flex-direction: column;
		gap: 8px;
	}

/* TODO ハンバーガーメニュー調整中 */
.slicknav_menu {
position:absolute;
top: 30px;
right: 20px;
}
.slicknav_nav {
position:relative;
right:0px;
width:max-content;
}




	.section-1st ul {
		flex-direction: column;
		gap: 20px;
	}

	.section-1st li section {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	.section-1st li h3 {
		text-align: left;
		padding-left: 24px;
		background-position-y: 5px; 
	}

	.section-1st li section .card {
		margin-left: 20px;
		display: flex;
		gap: 20px;
		flex-direction: row;
		align-items: flex-start;
	}

	.section-2nd ul {
		flex-direction: column;
		gap: 30px;
	}

	footer {
		height: 80px;
	}
}

@media (max-width: 600px) {

	.header-key-visual p {
		width: 80%;
	}

	.section-1st li h3 {
		text-align: center;
	}

	.section-1st li section .card {
		flex-direction: column;
		align-items: center;
	}

	.section-2nd .container-flex {
		flex-direction: column;
	}

	.section-2nd .container-flex img {
		width: 100%;
		height: auto;
	}

	footer {
		height: 80px;
	}
}
